.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #e0ffe0;
  border-bottom: 2px solid #ccc;
}
.logotext{
        font-size: 24px;
}
.logo {
  height: 30px;
  margin-right: 30px;
  vertical-align: middle;
}

.chid-container {
    background-color: #1f2937;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    gap: 16px; /* space between boxes */
    padding: 16px;
}

.chid-container .box {
    flex: 1;
    background-color: #4ade80; /* green */
    color: #1f2937;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin: 0 4px;
}

.chid-container .box:nth-child(2) {
    background-color: #60a5fa; /* blue */
    color: #fff;
}

.chid-container .box:nth-child(3) {
    background-color: #fbbf24; /* yellow */
    color: #1f2937;
}